<style>
/*隐藏*/
.hidden_id,.hidden_sku_id{
	display: none;
}
</style>
<div class="row" style="margin:0" ng-controller="showtableCtrl">

<button type="button" class="btn btn-lg btn-danger" data-animation="am-flip-x" data-template-url="/modal/table_field_choose.html" bs-modal="modal" ng-click="table_field(tb_tpl)">字段管理
</button>

	<div class="col-lg-12 mt20">
		<div class="panel panel-show">
			<div class="panel-heading">【{{tb_tpl | shop_filter}}】{{tb_name}} </div>
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<tr class="blue">
							<td>序号</td>
							<td ng-repeat="title in table_title">{{title}}</td>
						</tr>
					</thead>
					<tr ng-repeat="item in show_table | filter:key_words track by $index" id="line_{{item.id}}">
						<td>{{$index+1}}</td>
						<td ng-repeat="(key, value) in item track by $index" class="hidden_{{key}}">
							<input 	ng-dblclick="change_yahoofield(item.id,key,value)" 
									readonly
									class="form-control input-sm"
									id="{{key}}_{{item.id}}" 
									value="{{value | field_filter}}"
									>
						</td>
					</tr>
				</table>
			</div>
			<div class="panel-footer">
				'【】'内为模板名，后跟表名。
			<div class="ycmbcd"></div></div>
		</div><!-- /pannel -->
	</div><!-- /col -->
</div>