<div class="modal" tabindex="-1" role="dialog" ng-controller="cg_panelCtrl">
  <div class="modal-dialog">
    <form name="cg_panelForm">
      <div class="modal-content">
        <div class="modal-header" ng-show="title">
          <button type="button" class="close" ng-click="$hide()">&times;</button>
          <h4 class="modal-title" ng-bind-html="title">条件筛选</h4>
        </div>
        <div class="modal-body">
          <div class="m10 ml20">
            <div class="row mt10">
                <div class="form-group">
                  <label class="col-sm-2 control-label">字段类型</label>
                  <div class="col-sm-10">
                    <select ng-model="cg_type" name="cg_type" class="form-control input-sm" ng-change="ccg_type()">
                      <option value="sku">sku</option>
                      <option value="common">通用字段</option>
                      <option value="yahoo">雅虎字段</option>
                      <option value="rakuten">乐天字段</option>
                      <option value="amazon">亚马逊字段</option>
                    </select>
                  </div>
                </div>
            </div>

            <div class="row mt10" ng-show="show_a">
                <div class="form-group">
                  <label class="col-sm-2 control-label">选择字段</label>
                  <div class="col-sm-10">
                    <select class="form-control input-sm" name="cg_field" ng-model="cg_field" >
                      <option value="{{f.id}}" ng-repeat="f in cg_fields">{{f.field_name}}</option>
                    </select>
                  </div>
                </div>
            </div>

            <div class="row mt10">
                <div class="form-group">
                  <label class="col-sm-2 control-label"><select ng-model="xxxx" class="form-control input-sm">
                    <option value="" selected="selected">包含</option>
                    <option value="">大于</option>
                    <option value="">小于</option>
                    <option value="">等于</option>
                  </select></label>
                  <div class="col-sm-10">
                    <input type="text" name="filter_txt" ng-model='filter_txt' required class="form-control input-sm">
                  </div>
                </div>
            </div>
              
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-disabled="cg_panelForm.cg_type.$pristine || cg_panelForm.cg_field.$pristine || cg_panelForm.filter_txt.$invalid" ng-click="add_filterline();$hide()">添加</button>
          <button type="button" class="btn btn-default" ng-click="$hide()">关闭</button>
        </div>
      </div>
    </div>
  </form>
</div>