<div class="row" style="margin:0" ng-controller="addgoodsCtrl">
	<div class="col-lg-12 mt20">
		<div class="panel panel-show">
			<div class="panel-heading">新建商品</div>
			<div class="panel-body">
				<div class="container-fluid mt20">
					<form name="newgoods_sku">
						<table class="table-condensed">
							<thead>
								<div class="label label-primary label_title">&nbsp;SKU&nbsp;</div>
							</thead>
							<tbody>			
								<tr>
									<td class="tagr blue f12">SKU：</td>
									<td width="300"><input type="text" 
											class="form-control input-sm"
											placeholder="长度小于255个字符"
											maxlength="{{item.field_length}}" 
						                    ng-maxlength="{{item.field_length}}"
						                    required
						                    ng-model="sku_name"
						                    ng-readonly="sku_over"
						                    ng-trim='true'
						                    id="sku_name" 
									 	/>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
					<button ng-disabled="newgoods_sku.$invalid" type="button" class="btn btn-primary btn-xs btn-next ml20 mt40" ng-click="submit_sku()" ng-hide="sku_over"><i class="glyphicon glyphicon-chevron-down"></i></button>
					<div class="hidden">{{sku_id}}</div><!--suk_id调试用，新建成功后返回id-->
					<div ng-show="sku_over">
						<div ng-hide="com_over">
						<hr>
							<form name="newgoods_common">
								<table class="table-condensed" ng-mouseleave="remove_option()">
									<thead>
										<div class="label label-success label_title">通 用</div>
									</thead>
									<tbody>			
										<tr class="fu_tr" ng-repeat="item in all_commonfield track by $index">
											<td class="tagr f12 requirett_{{item.field_require}}">{{item.field_name}} :</td>
											<td width="300">
												<input 	type="text" 
														class="form-control input-sm"
														ng-blur="new_com(item.id)"
														ng-model="aaaa[$index]"
														ng-required="{{item.field_require}}"
														placeholder="长度小于{{item.field_length}}个字符"
														maxlength="{{item.field_length}}" 
								                      	ng-maxlength="{{item.field_length}}"
								                      	ng-click="find_option(item.id,'common')"
								                      	>
								                      	<!-- <span>{{aaaa[$index]}}</span>调试用 -->
											</td>
											<td><div class="isrequire_{{item.field_require}} mt10">*</div></td>
											<td class="mt10 ml10 badge_info">说明：{{item.field_info}}</td>
											<td class="hidden fuzhi" id="sscommon{{item.id}}">
												<input  ng-repeat="oop in field_option track by $index" class="btn btn-xs mr10 ml10 btn-info" ng-class="{'btn-info-no':color.active$index}" type="button" ng-click="fuzhi(oop,'com','com_'+item.id,'aaaa',$parent.$index);color.active$index=!color.active$index" value="{{oop}}" />
											</td>
										</tr>
									</tbody>
								</table>
							</form>
							<button ng-disabled="newgoods_common.$invalid" type="button" class="btn btn-primary btn-xs btn-next ml20 mt40" ng-click="submit_com()"><i class="glyphicon glyphicon-chevron-down"></i></button>
						</div>
					</div>
					<div ng-show="com_over">
						<div ng-hide="yahoo_over">
						<hr>
							<form name="newgood_yahoo">
								<table class="table-condensed" ng-mouseleave="remove_option()">
									<thead>
										<div class="label label-warning label_title">雅 虎</div>
									</thead>
									<tbody>			
										<tr class="fu_tr" ng-repeat="item in all_yahoofield track by $index">
											<td class="tagr f12 requirett_{{item.field_require}}">{{item.field_name}} :</td>
											<td width="300">
												<input 	type="text" 
														class="form-control input-sm"
														id="new_yahoo_{{item.id}}"
														ng-blur="new_yahoo(item.id)"
														ng-model="bbbb[$index]"
														ng-value="item.field_default"
														ng-required="{{item.field_require}}"
														placeholder="长度小于{{item.field_length}}个字符"
														maxlength="{{item.field_length}}" 
								                      	ng-maxlength="{{item.field_length}}"
								                      	ng-click="find_option(item.id,'yahoo')"
								                      	>
								                      	<!-- <span>{{bbbb[$index]}}</span>调试用 -->
											</td>
											<td><div class="isrequire_{{item.field_require}} mt10">*</div></td>
											<td class="mt10 ml10 badge_info">说明：{{item.field_info}}</td>
											<td class="hidden fuzhi" id="ssyahoo{{item.id}}">
												<input  ng-repeat="oop in field_option track by $index" class="btn btn-xs mr10 ml10 btn-info" ng-class="{'btn-info-no':color.active$index}" type="button" ng-click="fuzhi(oop,'yahoo','yahoo_'+item.id,'bbbb',$parent.$index);color.active$index=!color.active$index" value="{{oop}}" />
											</td>
										</tr>
									</tbody>
								</table>
							</form>
							<button ng-disabled="newgood_yahoo.$invalid" type="button" class="btn btn-primary btn-xs btn-next ml20 mt10" ng-click="submit_yahoo()"><i class="glyphicon glyphicon-chevron-down"></i></button>
						</div>
					</div>
					<div class="row mt20">
						<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
					<button  ng-show="yahoo_over" type="button" style="width:100%" class="btn btn-danger ml20 mt10" ng-click="next_add()"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp; 再 新 建 一 条</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<span class="red">*</span> 必填<br>
				如果设置<span class="red"> 默认值 </span>，请不要再设置为 <span class="red">必填</span> 属性，因为数据库默认已存在。
			<div class="ycmbcd"></div></div>
		</div><!-- /pannel -->
	</div><!-- /col -->
</div>
