<div class="row" style="margin:0" ng-controller="delgoodsCtrl">
	<div class="col-lg-12 mt20">
		<div class="panel panel-show">
			<div class="panel-heading">重命名删除SKU</div>
			<div class="panel-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-5 col-md-7 col-sm-10">
							<input type="text" ng-keyup="look_sku()" ng-model="user_sku" class="form-control" value="SKU">
							<table id="show_table" class="table table-condensed table-bordered table-striped table-hover tagc">
								<tr ng-repeat="item in del_goods track by $index">
									<td>{{$index+1}}</td>
									<td id="sku_{{item.id}}">{{item.sku}}</td>
									<td style="width:140px;">
										<button uib-popover-template="rename_popover.templateUrl"
												popover-title="{{rename_popover.title}}" 
												popover-trigger="'outsideClick'" 
												popover-placement="top-left"
												type="button" 
												class="btn btn-warning btn-xs" 
												ng-click="table_key(item.id)">重命名</button>&nbsp;
										<button uib-popover-template="del_popover.templateUrl"
												popover-title="{{del_popover.title}}" 
												popover-trigger="'outsideClick'" 
												popover-placement="right"
												type="button"
												class="btn btn-danger btn-xs"
												ng-click="table_key(item.id)">删 除</button>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer red">
			对 SKU 进行重命名、删除操作。<br>
			查询所有 SKU，输入‘ % ’。
			</div>
		</div><!-- /pannel -->
	</div><!-- /col -->
</div>

<!--重命名弹框-->
<script type="text/ng-template" id="rename_popover.html">
	<form name="renamefolderForm">
	    <div class="popover_tips">非空、长度小于255个字符</div>
	    <div class="input-group input-group-sm">
		    <div class="form-group form-group-sm">
				<input  type="text" 
						class="form-control" 
						placeholder="SKU名" 
						name="re_sku" 
						ng-model="rename_popover.re_sku"
						required   
						maxlength="255" 
						style="width:200px;" 
						ng-maxlength="255">
		    </div>
		    <span class="input-group-btn">
		    	<button ng-class="{'disabled':renamefolderForm.re_sku.$invalid}" class="btn btn-success" type="button" ng-click="rename_sku()">更 改</button>
			</span>
		</div>
	</form>
</script>
<!--/重命名弹框-->

<!--删除弹框-->
<script type="text/ng-template" id="del_popover.html">
	<button class="btn btn-danger btn-xs" type="button" ng-click="del_sku()">确 定</button>
</script>
<!--/删除弹框-->