<!--侧边栏-->
<div id="side_bar">
	<div id="user_box">
		<div class="pull-left"><img src="/images/user_logo.jpg" alt="Esempio" id="user_logo"></div>
		<div class="pull-left" id="user_info">
			<div>{{u_name}}</div>
			<div class="pull-right"><a href="/fuck/login.php?logout"><span class="glyphicon glyphicon-log-out"></span> 退出</a></div>
		</div>
		<div class="clearfix"></div>
	</div>

	<uib-accordion close-others="oneAtATime" >
		<div uib-accordion-group is-open="status.isopen0" class="panel-default hover">
			<uib-accordion-heading>
        		文件夹1<i class="pull-right icon-folder-close-alt" ng-class="{'icon-folder-open-alt': status.isopen0}"></i>
     	 	</uib-accordion-heading>
			<div ui-sref-active="active" class="list-group-item">
				xxx
			</div>
		</div>
		<div ng-repeat="folder_table in folder_all">
			<div uib-accordion-group is-open="xxx" class="panel-default hover">
				<uib-accordion-heading>
	        		<span ng-bind="folder_table.folder_name"></span><i class="pull-right icon-folder-close-alt" ng-class="{'icon-folder-open-alt':xxx}"></i>
	     	 	</uib-accordion-heading>
	     	 	<div ng-repeat="tb in folder_table.tbname track by $index">
					<div ui-sref-active="active" class="list-group-item">
						{{tb}}
					</div>
				</div>
			</div>

		</div>
		<div uib-accordion-group is-open="status.isopen1" class="panel-default hover">
			<uib-accordion-heading>
        		模板管理<i class="pull-right icon-screenshot" ng-class="{'icon-spin': status.isopen1}"></i>
     	 	</uib-accordion-heading>
			<div  ui-sref-active="active" class="list-group-item">
				固定字段
			</div>
		</div>
		<div uib-accordion-group is-open="status.isopen2" class="panel-default hover">
			<uib-accordion-heading>
        		系统设置<i class="pull-right icon-cog" ng-class="{'icon-spin': status.isopen2}"></i>
     	 	</uib-accordion-heading>
			<div ui-sref="site.systable" ui-sref-active="active" class="list-group-item">
				表单管理<i class="pull-right icon-table" ></i>
			</div>
			<div ui-sref="site.sysfolder" ui-sref-active="active" class="list-group-item">
				文件夹管理<i class="pull-right icon-inbox" ></i>
			</div>
			<div ui-sref="site.modal" ui-sref-active="active" class="list-group-item">
				轮子<i class="pull-right icon-magic" ></i>
			</div>
		</div>
	</uib-accordion>

	<div class="toggler">
		<span class="glyphicon glyphicon-chevron-right">&nbsp;</span> <span class="glyphicon glyphicon-chevron-left">&nbsp;</span>
	</div>
</div>

<!-- 	<ul>
	<li ui-sref-active="active"><a ui-sref="index">首页</a></li>
	<li ui-sref-active="active"><a ui-sref="page({id:'1'})">第一页</a></li>
	<li ui-sref-active="active"><a ui-sref="page({id:'2'})">第二页</a></li>
	<li ui-sref-active="active"><a ui-sref="page({id:'3'})">第三页</a></li>
	<li ui-sref-active="active"><a ui-sref="page({id:'4'})">无法跳转</a></li>
	<li ui-sref-active="active"><a ui-sref="text">文字模板</a></li>
	<li ui-sref-active="active"><a ui-sref="aaa">跳转不存在</a></li>

</ul> -->
<!--/侧边栏-->

