<div class="row" style="margin:0" ng-controller="folderCtrl">
	<div class="col-lg-12 mt20">
		<div class="panel panel-show">
			<div class="panel-heading">文件夹管理</div>
			<div class="panel-body">
				<div class="container-fluid mt20">
					<!-- 新建 -->
					<div class="row">
						<form name="newfolderForm">
							<div class="col-lg-3 col-md-4 col-sm-6">
								<div class="input-group">
									<input  type="text" 
											class="form-control" 
											placeholder="文件夹名" 
											name="new_folder" 
											ng-model="new_folder"
											required   
		                      				maxlength="10" 
		                      				ng-maxlength="10"
		                      				uib-popover="非空、长度小于10个字符"
		                      				popover-trigger="'mouseenter'"
		                      				popover-placement="top-left">
		                      		<span class="input-group-btn">
										<button ng-class="{'disabled':newfolderForm.new_folder.$invalid}" class="btn btn-success" type="button" ng-click="add_folder()">新 建</button>
									</span>
								</div>
							</div>
						</form>
					</div>
				<hr/>

				<!-- 下拉 -->
			    <div class="btn-group pull-left mr10" uib-dropdown is-open="status.isopen" ng-click="select_folder()">
			    	<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
			    		<span class="drop_val" ng-model="click_key">{{click_key}}</span>
			    		<span class="caret"></span>
			    	</button>
			    	<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
			    		<li role="menuitem" ng-repeat="item in folders">
							<a href ng-click="click_me(item.folder_name)">{{item.folder_name}}</a>
						</li>
			    	</ul>
			    </div>

				<button uib-popover-template="rename_popover.templateUrl"
						popover-title="{{rename_popover.title}}" 
						popover-trigger="'outsideClick'" 
						popover-placement="top-left"
						popover-enable="{{isenabled}}"
						type="button" 
						class="btn btn-warning pull-left mr10" 
						ng-class="{'disabled': isdisabled}">重命名</button>

				<button uib-popover-template="del_popover.templateUrl"
						popover-title="{{del_popover.title}}" 
						popover-trigger="'outsideClick'" 
						popover-placement="right"
						popover-enable="{{isenabled}}"
						type="button"
						class="btn btn-danger pull-left" 
						ng-class="{'disabled': isdisabled}">删 除</button>
				<div class="clearfix"></div>
				</div>
				<div class=" mt20">
				</div>
			</div>
			<div class="panel-footer">可新建、重命名、删除文件夹。</div>
		</div><!-- /pannel -->
	</div><!-- /col -->
</div>

<!--重命名弹框-->
<script type="text/ng-template" id="rename_popover.html">
	<form name="renamefolderForm">
	    <div class="popover_tips">非空、长度小于10个字符</div>
	    <div class="input-group">
		    <div class="form-group">
				<input  type="text" 
						class="form-control" 
						placeholder="文件夹名" 
						name="re_folder" 
						ng-model="rename_popover.re_folder"
						required   
						maxlength="10" 
						ng-maxlength="10">
		    </div>
		    <span class="input-group-btn">
		    	<button ng-class="{'disabled':renamefolderForm.re_folder.$invalid}" class="btn btn-success" type="button" ng-click="rename_folder()">更 改</button>
			</span>
		</div>
	</form>
</script>

<!--删除弹框-->
<script type="text/ng-template" id="del_popover.html">
	<button ng-class="{'disabled':renamefolderForm.re_folder.$invalid}" class="btn btn-danger btn-xs" type="button" ng-click="del_folder()">确 定</button>
</script>
<!--/删除弹框-->
